doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Suffix
  link(rel='shortcut icon', href='./imges/Group 13 copy.png')
  link(rel='stylesheet', href='./css/main.css')
.main-container
  header.header
    img(src='./images/Group 13.png', alt='sufix')
    .menu
      .menu-icon X
      .menu-list
        a.list-item(href='#') Home
        br
        a.list-item(href='#') Preferences
        br
        a.list-item(href='#') Contacts
        br
        a.list-item(href='#') About
        br
        a.list-item(href='#') Out blog
        br
        a.list-item(href='#') Map
        br
        a.list-item(href='#') Career
        br
  .big1
    .side-left
      img.niga-for-a-life(src='./images/philip-martin-5aGUyCW_PJw-unsplash.png', alt='')
    .side-right
      .content-right
        .first-leyer.d-flex
          p.date 10/10/2020
          p.LIFESTYLE LIFESTYLE
        .secon-leyer
          h1.lorem-text-h1 At vero eos et accusamus et
          p.lorem-text-p
            | odio dignissimos ducimus qui blanditiis praesentium 
            br
            |  voluptatum deleniti atque corrupti quos dolores et quas 
            br
            |  molestias excepturi sint occaecati
          input.READ-MORE-button(type='button', value='READ MORE')
  .big2
    p.featured FEATURED
    .images-container
      .side-left-big2
        img.black-img(src='./images/Screen Shot 2560-08-18 at 4.23.48 PM.png', alt='')
        .black-img-text
          .first-leyer0
            a.lifestyle.p(href='#') LIFESTYLE
            p.lol 10/10/2020
          .second-leyer
            p.lorem1
              | Lorem ipsum dolor sit amet, consectetur 
              br
              |  adipiscing elit
            p.lorem2
              | ut aut reiciendis voluptatibus maiores alias consequatur aut 
              br
              |  perferendis doloribus asperiores repellat.
      .side-right-big2
        img.random-guy(src='./images/biocarbon-drone.jpg.650x0_q70_crop-smart.png', alt='')
        .black-img-text
          .first-leyer0.trol
            p.date1 10/10/2020
            a.lifestyle(href='#') LIFESTYLE
          .second-leyer
            p.lorem1
              | Lorem ipsum dolor sit amet, consectetur 
              br
              |  adipiscing elit
            p.lorem2
              | ut aut reiciendis voluptatibus maiores alias consequatur aut 
              br
              |  perferendis doloribus asperiores repellat.
    .big3
      .img-container
        .img1-container
          img.img1(src='./images/img-1.png', alt='')
          .text-img1
            .first-leyer2
              p.date1 10/10/2020
              a.lifestyle(href='#') LIFESTYLE
            .lorem3-container
              p.lorem3
                | At vero eos et accusamus 
                br
                |  et iusto
        .img2-container
          img.img2(src='./images/img-2.png', alt='')
          .img2-text
            .first-leyer3
              p.date1 10/10/2020
              a.lifestyle(href='#') LIFESTYLE
            p.lorem4 At vero eos et
        .img3-container
          img.img3(src='./images/img-3.png', alt='')
          .text-img3
            .first-leyer5
              p.date1 10/10/2020
              a.lifestyle(href='#') LIFESTYLE
            p.lorem5
              | At vero eos et accusamus 
              br
              |  et iusto
      .button-container
        input.button1(type='button', value='SEE ALL')
    .big4
      .wrapper
        .left-side-big4
          img.book(src='./images/book.png', alt='')
        .right-side-big4
          p ISSUE 22 - MAY 2020
          input.button3(type='button', value='SUBSCRIBE NOW')
      .big5
        p.INTERVIEWS-title INTERVIEWS
        .wrapper2
          .img5-container
            img.img-5(src='./images/img-5.png', alt='')
            .first-leyer5
              p.date2 10/10/2020
              a.INTERVIEWS2(href='#') INTERVIEWS
            p.lorem6
              | At vero eos et accusamus 
              br
              |  et iusto
          .img6-container
            img.img-6(src='./images/img-6.png', alt='')
            .firts-leyer6
              p.date2 10/10/2020
              a.INTERVIEWS2(href='#') INTERVIEWS
            p.lorem7 AT VERO EOS ET
          .img7-container
            img.img-7(src='./images/img-7.png', alt='')
            .first-leyer7
              p.date2 10/10/2020
              a.INTERVIEWS2(href='#') INTERVIEWS
            p.lorem8
              | At vero eos et accusamus 
              br
              |  et iusto
    .button-container
      input.button1(type='button', value='SEE ALL')
    .big6
      p.news-title NEWS
      .wrappper3
        .container-mic
          img.mic(src='./images/mic.jpg', alt='')
          .first-leyer8
            p.date1 10/10/2020
            a.news-text(href='#') NEWS
          p.lorem9
            | AT VERO EOS ET ACCUSAMUS 
            br
            |  ET  IUSTO
        .container-idk
          img.idk(src='./images/idk.jpg', alt='')
          .first-leyer9
            p.date1 10/10/2020
            a.news-text(href='#') NEWS
          p.lorem10 AT VERO EOS ET
        .container-what
          img.what(src='./images/what.jpg', alt='')
          // it is first-leyer10 but i wrote first-leyer11 lol
          .first-leyer11
            p.date1 10/10/2020
            a.news-text(href='#') NEWS
          p.lorem11
            | AT VERO EOS ET ACCUSAMUS 
            br
            |  ET  IUSTO
      .button-container
        input.button1(type='button', value='SEE ALL')
    div
    footer.footer
      p
        span S
        span U
        span F
        span F
        | I
        span.x-s X
      .desing
        // by me but not by me lol
        p desinged by me :)